<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         verbose="false"
         colors="false"
         cacheResult="false">
<testsuites>
    <testsuite name="Route4me PHP SDK Test Suite">
        <directory>UnitTestFiles/Test</directory>
        <file>UnitTestFiles/Test/AvoidanceZoneUnitTests.php</file>
        <file>UnitTestFiles/Test/AddressUnitTests.php</file>
        <!-- <file>UnitTestFiles/Test/Route4MeUnitTests.php</file> -->
    </testsuite>
</testsuites>

<filter>
    <whitelist>
        <directory suffix=".php">src/</directory>
    </whitelist>
</filter>

</phpunit>

